@font-face {
    font-family: 'Optima Cyr';
    src: url('../fonts/AGOptimaBold.eot');
    src: url('../fonts/AGOptimaBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AGOptimaBold.woff2') format('woff2'),
        url('../fonts/AGOptimaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Optima';
    src: url('../fonts/Optima-Bold.eot');
    src: url('../fonts/Optima-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Optima-Bold.woff2') format('woff2'),
        url('../fonts/Optima-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AGOptimaCyr';
    src: url('../fonts/AGOptimaCyrBoldBold.eot');
    src: url('../fonts/AGOptimaCyrBoldBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AGOptimaCyrBoldBold.woff2') format('woff2'),
        url('../fonts/AGOptimaCyrBoldBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Optima';
    src: url('../fonts/Optima.eot');
    src: url('../fonts/Optima.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Optima.woff2') format('woff2'),
        url('../fonts/Optima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AGOptimaCyr';
    src: url('../fonts/AGOptimaCyrRoman.eot');
    src: url('../fonts/AGOptimaCyrRoman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AGOptimaCyrRoman.woff2') format('woff2'),
        url('../fonts/AGOptimaCyrRoman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AGOptimaCyr';
    src: url('../fonts/AGOptimaCyrBoldOblique.eot');
    src: url('../fonts/AGOptimaCyrBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AGOptimaCyrBoldOblique.woff2') format('woff2'),
        url('../fonts/AGOptimaCyrBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'AGOptimaCyr';
    src: url('../fonts/AGOptimaCyrOblique.eot');
    src: url('../fonts/AGOptimaCyrOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AGOptimaCyrOblique.woff2') format('woff2'),
        url('../fonts/AGOptimaCyrOblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BorjomiCondensedC';
    src: url('../fonts/BorjomiCondensedC.eot');
    src: url('../fonts/BorjomiCondensedC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BorjomiCondensedC.woff2') format('woff2'),
        url('../fonts/BorjomiCondensedC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

